@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 100% 98.04%;
    --foreground: 11, 93%, 6%;
    
    --background_secondary: 44, 59%, 91%; 

    --card:40, 69%, 95%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 27, 92%, 31%; /*contacts page highlights*/

    --muted: 210 40% 96.1%;
    --muted-foreground: 12, 12%, 49%; /*inactive Navlink*/

    --accent: 210 40% 96.1%; /*button background on hover*/
    --accent-foreground: 222.2 47.4% 11.2%; /*button text on hover*/

    --accent-main: 12, 96%, 10%; /*main heading, active Navlink*/

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 43.64 29.73% 85.49%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --blur: 42, 100%, 98%, 0.729;
    --neutral: 0, 0%, 66%;
    --brand-main: 4, 76%, 15%;

    --door-white: 45, 57%, 97%;
    --door-beige: 36, 28%, 77%;
    --door-brown: 35, 23%, 56%;
    --door-darkBrown: 47, 68%, 15%;
    --door-gray: 0, 0%, 23%;
    --door-lightGray: 0, 0%, 47%;
    --door-lighterGray: 0, 1%, 35%;
    --door-bileDerevo: 250, 10%, 89%; 
    --door-astanaMerle: 349, 13%, 47%;
    --door-astanaRozvud: 24, 19%, 69%;
    --door-bilyiMat: 150, 1%, 72%;
    --door-filadelfiiaCrem: 29, 55%, 90%;
    --door-horikhLisovyi: 0, 28%, 30%;
    --door-horikhTemnyi: 328, 27%, 14%;
    --door-karpatskaYalyna: 33, 41%, 34%;
    --door-parma: 42, 7%, 61%;
    --door-shvedskaVyshnia: 320, 4%, 68%;
    --door-selected: 22, 73%, 40%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-inter text-foreground;
  }
}
