@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 100% 98.04%;
    --foreground: 11, 93%, 6%;

    --background_secondary: 43.64 29.73% 85.49%;  /* header, footer bg */

    --card:40, 69%, 95%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 12, 12%, 49%; /*inactive Navlink*/

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --accent-main: 12, 96%, 10%; /*main heading, active Navlink*/

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 43.64 29.73% 85.49%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --blur: 42, 100%, 98%, 0.729;

    --door-white: 45, 57%, 97%;
    --door-beige: 36, 28%, 77%;
    --door-brown: 35, 23%, 56%;
    --door-darkBrown: 47, 68%, 15%;
    --door-gray: 0, 0%, 23%;
    --door-lightGray: 0, 0%, 47%;
    --door-lighterGray: 0, 1%, 35%;
    --door-bileDerevo: 250, 10%, 89%; 
    --door-bilyi1129: 204, 8%, 75%;
    --door-astanaMerle: 349, 13%, 47%;
    --door-astanaRozvud: 24, 19%, 69%;
    --door-bilyiMat: 150, 1%, 72%;
    --door-dubShaleHrafit: 345, 5%, 44%;
    --door-filadelfiiaCrem: 2, 46%, 90%;
    --door-horikhLisovyi: 0, 28%, 30%;
    --door-horikhTemnyi: 328, 27%, 14%;
    --door-karpatskaYalyna: 33, 41%, 34%;
    --door-parma: 42, 7%, 61%;
    --door-shvedskaVyshnia: 320, 4%, 68%;
    --door-tikoveDerevo: 217, 15%, 27%;
    --door-selected: 22, 73%, 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 45.88,41.46%,8.04%;
    --foreground:  15, 40%, 96%; 

    --background_secondary: 42.35,21.52%,15.49%;  /* header, footer bg */

    --card:26, 84%, 5%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 13, 19%, 76%; /*inactive Navlink*/

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --accent-main: 13, 75%, 95%; /*main heading, active Navlink*/

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 42.35,21.52%,15.49%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-inter text-foreground;
  }
}
